@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
}

.hero-section h1 {
  font-family: 'Volkhov', serif;
  font-size: 44px;
}

.hero-section p {
  font-family: 'Poppins', sans-serif;
}

.hero-section span {
  color: #fa7436;
}

.hero-image {
  width: 100%;
}

.travel-section h2 {
  font-family: 'Volkhov', serif;
  font-size: 28px;
}

.travel-card {
  border: none !important;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.8);
  text-decoration: none !important;
  margin-top: 80px !important;
  margin: auto;
  width:60%;
}
.travel-card h5 {
  font-weight: 700;
  font-size: 20px;
}

.travel-card p {
  color: #7d7987;
  font-size: 16px !important;
}

.travel-card a {
  text-decoration: none !important;
}

.travel-card i {
  display: inline-block;
  margin-left: 5px;
}

.travel-card img {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

footer {
  background: linear-gradient(183.41deg, #f89d73 -8.57%, #f7580e 82.96%);
  margin-top: 200px !important;
  font-family: 'Mulish', sans-serif;
  color: #fff;
}

footer h5 {
  font-weight: 700;
  font-size: 24px !important;
}

footer p {
  font-weight: 300;
  font-size: 16px !important;
}

footer a,
footer li {
  text-decoration: none !important;
  list-style: none !important;
  color: #fff;
  font-family: 'Mulish', sans-serif;
  font-size: 16px !important;
  font-weight: 300;
}

footer ul {
  padding: 0px !important;
}

.circle-trafalgar {
  display: inline-block !important;
  background-color: #fff !important;
  width: 45px;
  height: 45px;
  color: #fa7436 !important;
  border-radius: 50% !important;
  line-height: 50px !important;
}

.btn-login {
  background-color: #fa7436;
  color: white;
  height: 44px;
  border-radius: 16px;
}

.detail-img{
  width: 400px;
  margin: auto;
}

